# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>SQL</li>
    <li>R</li>
</ol>

### Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Matplotlib</li>
    <li>NumPy</li>
    <li>Pandas</li>
    <li>Scikit-learn</li>
    <li>SciPy</li>
</ol>

<tr>
<th><Data Science Tools></th>
</tr>

<tr>
<td><Jupyter Notebook></td>
</tr>

<tr>
<td><Scikit-learn></td>
</tr>

<tr>
<td><Pandas></td>
</tr>

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This is a simple arithmetic expression to multpily then add integers.
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

### <b>Objectives:</b>
#### List popular languages for Data Science:
<ul>
    <li>Python</li>
    <li>SQL</li>
    <li>R</li>
</ul>

## Author: 
Jeffrey Golik